# Sample workflow for building and deploying a VanJS site to GitHub Pages using esbuild
# based on, ( i.e., nicked from ), the official sample Next.js workflow ;)
#
# To get started with VanJS see: https://vanjs.org/start
name: Deploy a VanJS site to Pages
on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main-pages"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          # can switch to version matrix later
          node-version: "25.0.0"
          # add cache in later
          # cache: yarn
      - name: Initialise yarn workspace
        run: yarn init --yes -n esbuild-test
      - name: Update yarn config, Set nodeLinker
        run: yarn config set nodeLinker node-modules
      - name: Add dev dependencies
        run: yarn add -D @esbuild/linux-x64@0.27.3
      - name: Build VanJS site with esbuild
        run: ./node_modules/@esbuild/linux-x64/bin/esbuild --bundle --outfile="public/van.app.js" src/index.js
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public/

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
